# MongoDB Atlas — incluye nombre de base (edwin_whatsapp)
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/edwin_whatsapp?retryWrites=true&w=majority&appName=Cluster0

# Render asigna PORT automáticamente
PORT=3001

# ID de sesión (por si algún día tienes varios números)
WA_SESSION_ID=default

# silent | info | debug
LOG_LEVEL=info
